<div class="max-w-4xl mx-auto space-y-4 text-center rounded w-full border p-8 dark:border-white/20 border-black/20">
    <h3 class="text-xl md:text-2xl font-serif font-medium">Enjoying the blog? Subscribe to my newsletter!</h3>
    <p>No spam, completely free.</p>

    <a class="arter-button w-full text-2xl" href="https://newsletter.arter.dev/subscription/form">Subscribe</a>
</div>
