<div class="mx-auto w-full max-w-4xl space-y-4 rounded border border-black/20 p-8 text-center dark:border-white/20">
    <h3 class="font-serif text-xl font-medium md:text-2xl">Enjoying the blog? Subscribe to my newsletter!</h3>
    <p>No spam, completely free.</p>

    <a class="arter-button w-full text-2xl" href="https://newsletter.arter.dev/subscription/form">Subscribe</a>
</div>
