---
interface Props {
  url: string;
  title?: string;
}
const { url, title } = Astro.props;
---

<a
  class="source-citation"
  data-source-url={url}
  data-source-title={title}
  href="#footnotes"
>[*]</a>
